PORT=4000
MONGODB_URI=mongodb://idoncare095_db_user:0935765186@ac-9vvgl0w-shard-00-00.8oqwudl.mongodb.net:27017,ac-9vvgl0w-shard-00-01.8oqwudl.mongodb.net:27017,ac-9vvgl0w-shard-00-02.8oqwudl.mongodb.net:27017/?ssl=true&replicaSet=atlas-994tzf-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=your_super_secret_key
TMDB_API_KEY=d5bb010361022ea47cd69fa9cb745a14
TMDB_READ_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkNWJiMDEwMzYxMDIyZWE0N2NkNjlmYTljYjc0NWExNCIsIm5iZiI6MTc3MjYxODcxOC4wMDMsInN1YiI6IjY5YTgwM2RkYTliMmRmZTlhM2I2ZDNiYiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.BNL4LM33U0P9q3-LZtbBOCxElhxPbhCB30swL5fSPlo
TMDB_BASE_URL=https://api.themoviedb.org/3